github_access_token
.idea/*
.git/
credentials.json
config.php
test.pdf
test.txt

vendor/bin/*
vendor/composer/*
vendor/firebase/*
vendor/google/
vendor/guzzlehttp/*
vendor/monolog/*
vendor/phpseclib/*
vendor/react/*
vendor/psr/*
vendor/autoload.php


